In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv("data.csv")
df2 = pd.read_csv("data_1990_2009.csv")

In [3]:
df1.head(1)

,movie_name,is_adult,year_of_release,genres,actor_1,actor_2,actor_3,imdb_rating,comb
0,Uri The Surgical Strike,0,2019,action drama war,vicky kaushal,paresh rawal,mohit raina,8.4,Uri The Surgical Strike action drama war vicky...

In [4]:
df2.head(1)

,movie_name,is_adult,year_of_release,genres,actor_1,actor_2,actor_3,imdb_rating,comb
0,3 Idiots,0,2009,comedy drama,aamir khan,madhavan,sharman joshi,8.4,3 Idiots comedy drama aamir khan madhavan shar...

In [5]:
final_df = df1.append(df2,ignore_index=True)

In [6]:
final_df.head()

,movie_name,is_adult,year_of_release,genres,actor_1,actor_2,actor_3,imdb_rating,comb
0,Uri The Surgical Strike,0,2019,action drama war,vicky kaushal,paresh rawal,mohit raina,8.4,Uri The Surgical Strike action drama war vicky...
1,Battalion 609,0,2019,war,vicky ahuja,shoaib ibrahim,shrikant kamat,4.1,Battalion 609 war vicky ahuja shoaib ibrahim s...
2,The Accidental Prime Minister,0,2019,biography drama,anupam kher,akshaye khanna,aahana kumra,6.1,The Accidental Prime Minister biography drama ...
3,Why Cheat India,0,2019,crime drama,emraan hashmi,shreya dhanwanthary,snighdadeep chatterji,6.0,Why Cheat India crime drama emraan hashmi shre...
4,Evening Shadows,0,2018,drama,mona ambegaonkar,ananth narayan mahadevan,devansh doshi,7.3,Evening Shadows drama mona ambegaonkar ananth ...

In [7]:
final_df.to_csv('main_data.csv',index=False)